.card-list{
    background-color: black;
}
.card1 {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(238, 233, 233, 0.2);
    transition: 0.3s;
    width: 40%;
    height: 300px;
    float: left;
    margin-left: 80px;
    margin-top: 150px;
    text-align: center;
  }

  .card2 {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(249, 244, 244, 0.2);
    transition: 0.3s;
    width: 85%;
    height: 200px;
    float: left;
    margin-left: 75px;
    margin-top: 50px;
    text-align: center;
  }
  .footer{
    background-color: rgb(73, 68, 77);
    width: 103%;
    margin-left: -8px;
    margin-bottom: -20px;
   }
   .foot2{
    color: white;
    width: 400px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 700px;
  }

