<div class="card-list">
    <div class="card1">
        <div class="container">
            <span>
                <h1>Monday - Saturday</h1>
                <br>
                <p>Morning 5:00 AM - 12:00 AM</p>
                <p>Evening 4:00 PM - 10:00 PM</p>
                <br>
              
              </span>
        </div>
      </div>
      <div class="card1">
        <div class="container">
            <span>
                <h1>Sunday</h1>
                <br>
              <p>Morning 6:00 AM - 9:00 AM</p>
                <br>
              
              </span>
        </div>
      </div>
      

</div>
<section class="footer">
    <div class="card2">
        <div class="container">
            <span>
                <h1>Thomas Jefferson</h1>
                <br>
              <p>“If you want something you’ve never had, you must be willing to do something you’ve never done.”</p>
              
              </span>
        </div>
      </div>
      <div class="card2">
        <div class="container">
            <span>
                <h1>Henry David Thoreau</h1>
                <br>
              <p>“Success usually comes to those who are too busy to be looking for it.”</p>
              
              </span>
        </div>
      </div>
      <div class="card2">
        <div class="container">
            <span>
                <h1>John Wooden</h1>
                <br>
              <p>“Don’t give up on your dreams, or your dreams will give up on you.”</p>
              
              </span>
        </div>
      </div>
      <div class="footer2">
        <div class="foot2">
          <h2> Our Media</h2>
          <br>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        <a href="https://goo.gl/maps/hA4Q2P1aFZNrkhrCA">
        <img class="location-image" src="./assets/Images/location.png" alt="Location1_logo" style="margin-left: 15px; width: 20px; background: white;"></a>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        </div>
        </div>
</section>