<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="gym-image" src="./assets/Images/gym.png" alt="Gym_Logo" />
  <h1 class="header">Kishore Muscle Garage</h1>
    <div class="spacer"></div>
    <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
    <img class="insta-image" src="./assets/Images/insta.png" alt="Insta_logo" style="margin-top: 10px;"></a>
    <a href="https://goo.gl/maps/hA4Q2P1aFZNrkhrCA">
      <img class="location-image" src="./assets/Images/location.png" alt="Location_logo" style="margin-top: 5px;"></a>
</div>
<div class="menubar" role="banner">
  <a class="home1" routerLink="home">Home</a>
  <a class="home" routerLink="classes">BioGraphy</a>
  <a class="home" routerLink="workouts">Workout</a>
  <a class="home" routerLink="schedules">Schedule</a>
</div>


<router-outlet></router-outlet>
