 
  <div class="content">
    <video class="pic1" autoplay muted controls="controls">
      <source src="./assets/Images/vid1.mp4" type="video/mp4">
    </video>

    <!-- <section class="cont1">
      <marquee direction="right">
        We are happy to welcome you to our website as well for or workplace 
      </marquee>
      <marquee direction="right">
        Its honor to train all of you in our workspace Kishore Muscle Garage 
      </marquee>
      <marquee direction="right">
        To be fit and look good and have good health body by staying fit and 
      </marquee>
      <marquee direction="right">
        We are delighted to welcome everyone to our Kishore Muscle Garage.
      </marquee>
    </section> -->
    <!-- <section class="cont">
      <marquee class="scroll1">
      Pick Up The Right Decision By Joining Gym
      </marquee>
  </section> -->
  </div>
  
  <div class="container">
  <div class="container1">
  
    <h3 class="h1">Our Workplace</h3>
    
    <div class="photobanner">
      
          <img class="first" src="./assets/Images/p1.jpg">
  
          <img  src="./assets/Images/p1.jpg">
  
          <img  src="./assets/Images/p1.jpg">
  
          <img  src="./assets/Images/p1.jpg">
  
          <!-- <img src="./assets/Images/p6.jpg">
  
          <img src="./assets/Images/p7.JPG"> -->
        </div>
  </div>
  </div>
  <div class="container2">
    <div class="container3">
      <a style="text-decoration: none" href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
      <h3 class="h3">For more pics and workout videos reach out official Insta</h3></a>
      
    </div>
  </div>
  
  <section class="footer">
    <div class="footer1">
      <div class="foot1">
        <h2> Working Hours</h2>
        <br>
        <span>
          <h4>Monday - Saturday</h4>
          <p>Morning 5:00 AM - 12:00 AM</p>
          <p>Evening 4:00 PM - 10:00 PM</p>
          <br>
        <h4>Sunday</h4>
        <p>Morning 6:00 AM - 9:00 AM</p>
        </span>
      </div>
      <div class="foot1">
        <h2> Address</h2>
        <br>
          <p>Alur Taluk </p>
          <p>Bikkodu Road Konepete</p>
      </div>
      </div>
      <div class="footer2">
      <div class="foot2">
        <h2> Our Media</h2>
        <br>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        <a href="https://goo.gl/maps/hA4Q2P1aFZNrkhrCA">
        <img class="location-image" src="./assets/Images/location.png" alt="Location1_logo" style="margin-left: 15px; width: 20px; background: white;"></a>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        </div>
      </div>
  
  
  
  
  </section>
  
  
  
  <router-outlet></router-outlet>
  