.pict{
    text-align: right;
}

.classes{
    background-color: rgb(35, 35, 35);
    width: 100%;
    // margin-left: -8px;
   }

.text-content{
    // overflow-y: hidden;
    width: 100%;
  }

.train1{
  margin-left: 300px;
}

.train2{
  margin-left: 200px;
}
  
  .text1{
    margin-left: 100px;
    margin-top: 100px;
    color: rgb(238, 234, 234);
    width: 600px;
    float: left;
  }
  .text2{
    color: rgb(238, 234, 234);
    margin-left: 80px;
    margin-top: 100px;
    width: 600px;
    float: left;
  }
  .pic1{
    width: 100%;
}

.gal1{
  margin-top: -22px;
  margin-left: -8px;
  background-color: rgb(33, 30, 30);
}

.gal2{
  background-color: rgb(33, 30, 30);
  text-align: center;
  color: antiquewhite;
}


.footer{
  background-color: black;
  width: 100%;
  margin-left: -8px;
  margin-bottom: -20px;
 }

 .footer1 {
  overflow-y: hidden;
}

.foot1{
  color: white;
  width: 400px;
  float: left;
  margin: 1em;
  margin-left: 300px;
}

.foot2{
  color: white;
  width: 400px;
  margin: 1em;
  margin-left: 700px;
}




