<div class="classes">
   
    <div class="text-content">
        <div class="text1">
          <h2> Trainer Bio</h2>
          <br>
          <span>
            <h4>For many developers, a trusty text editor is all you need for even the most complex web applications. 
                Whether you’re creating a site from scratch, editing a CSS file, 
                or messing around with configuration files on the server</h4>
            <br>
          <h4> or messing around with configuration files on the server – a good, solid text editor will do the trick just fine. 
            Last week, over 600 people voted for the text editor that they felt was the best from the large set of options out in 
            the market.
            In this article, you’ll find fifteen of the most ubiquitous text editors for development as voted by you.</h4>
          </span>
          <br>
          <span>
            <h4>For many developers, a trusty text editor is all you need for even the most complex web applications. 
                Whether you’re creating a site from scratch, editing a CSS file, 
                or messing around with configuration files on the server</h4>
            <br>
          <h4> or messing around with configuration files on the server – a good, solid text editor will do the trick just fine. 
            Last week, over 600 people voted for the text editor that they felt was the best from the large set of options out in 
            the market.
            In this article, you’ll find fifteen of the most ubiquitous text editors for development as voted by you.</h4>
          </span>
        </div>
        <div class="text2">
          <h2>Kishore K B</h2>
          <br>
          <img class="pic1" src="./assets/Images/pic2.jpg" alt="Gym_pic1" />
        </div>
        </div>
</div>

<section class="footer">
    <div class="footer1">
      <div class="foot1">
        <h2> Working Hours</h2>
        <br>
        <span>
          <h4>Monday - Saturday</h4>
          <p>Morning 5:00 AM - 12:00 AM</p>
          <p>Evening 4:00 PM - 10:00 PM</p>
          <br>
        <h4>Sunday</h4>
        <p>Morning 6:00 AM - 9:00 AM</p>
        </span>
      </div>
      <div class="foot1">
        <h2> Address</h2>
        <br>
          <p>Alur Taluk </p>
          <p>Bikkodu Road Konepete</p>
      </div>
      </div>
      <div class="footer2">
      <div class="foot2">
        <h2> Our Media</h2>
        <br>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        <a href="https://goo.gl/maps/hA4Q2P1aFZNrkhrCA">
        <img class="location-image" src="./assets/Images/location.png" alt="Location1_logo" style="margin-left: 15px; width: 20px; background: white;"></a>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        </div>
      </div>
  
  
  
  
  </section>
