<div class="classes">
   
    <div class="text-content">
        <div class="text1">
          <h2 class="train1"> Trainer Bio</h2>
          <br>
          <span>
            <h4>KishoreK B is one of the good trainer around this area and have achieved so many things in this 
              field and all our trainees has given good response about him and have an exception training skills sets
              to train the trainees
            </h4>
            <br>
          <h4> Kishore had been trained by one the great gym and a famous trainer in Bengaluru and associated in so many body 
            building competitions in his tenure as the trainee and has participated and won so many 
            awards.
          </h4>
          </span>
          <br>
          <span>
            <h4>Have worked in gym modeling industry for three years and has performed in the modelling industry and represented
              so many modeleling competition and 
              won so many awards 
            </h4>
            <br>
          <h4> Have involved in body building competition organized by VIN and won the award and involved in so many 
            competition. Now opened the Kishore Muscle Garage for Men and Women and training lot of guys to get a shape 
            and to be fit and stay healthy for future. To get a great result and for the shaping the body visit and Join the 
            Kishore Muscle Garage.
          </h4>
          <br>
          <h4>
            Our gym Got Five start review from almost all the trainees who has been trained here.
          </h4>
          </span>
        </div>
        <div class="text2">
          <h2 class="train2">Kishore K B</h2>
          <br>
          <img class="pic1" src="./assets/Images/t1.JPG" alt="Gym_pic1" />

        </div>
        </div>
</div>
<div class="gal1">
  <h1 class="gal2">Transformations Gallery</h1>
  <img class="pic1" src="./assets/Images/p2.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/p3.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/p4.JPG" alt="Gym_pic1" />
  <!-- <img class="pic1" src="./assets/Images/p5.JPG" alt="Gym_pic1" /> -->
  <img class="pic1" src="./assets/Images/p6.jpeg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/p7.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/t1.JPG" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/t2.JPG" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra1.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra2.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra3.JPG" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra4.JPG" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra5.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra6.JPG" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra7.JPG" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra8.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra9.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra10.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra11.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra12.jpg" alt="Gym_pic1" />
  <img class="pic1" src="./assets/Images/tra13.JPG" alt="Gym_pic1" />

</div>

<section class="footer">
    <div class="footer1">
      <div class="foot1">
        <h2> Working Hours</h2>
        <br>
        <span>
          <h4>Monday - Saturday</h4>
          <p>Morning 5:00 AM - 12:00 AM</p>
          <p>Evening 4:00 PM - 10:00 PM</p>
          <br>
        <h4>Sunday</h4>
        <p>Morning 6:00 AM - 9:00 AM</p>
        </span>
      </div>
      <div class="foot1">
        <h2> Address</h2>
        <br>
          <p>Alur Taluk </p>
          <p>Bikkodu Road Konepete</p>
      </div>
      </div>
      <div class="footer2">
      <div class="foot2">
        <h2> Our Media</h2>
        <br>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        <a href="https://goo.gl/maps/hA4Q2P1aFZNrkhrCA">
        <img class="location-image" src="./assets/Images/location.png" alt="Location1_logo" style="margin-left: 15px; width: 20px; background: white;"></a>
        <a href="https://www.instagram.com/kishu_muscle_garage/?hl=en">
        <img class="insta-image" src="./assets/Images/insta.png" alt="Insta1_logo" style="margin-left: 15px; width: 30px; background: white;"></a>
        </div>
      </div>
  
  
  
  
  </section>
